.color-one {
    background-color: #ff686e;
}

.signInBtn {
    border: 0;
    border-radius: 5px;
    width: 100%;
    background: #ff686e;
    border-bottom: 1px solid #ff4e56;
    height: 65%;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    box-shadow: 0 0 10px #00029;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out
}

.landingBanner {
    /* background: url(https://chaldn.com/asset/egg-chaldal-web-release-id-27065/https/Default/stores/chaldal/components/landingPage2/LandingPage/images/landingBanner.png) no-repeat center; */
    background-image: url(https://chaldn.com/asset/egg-chaldal-web-release-id-27065/https/Default/stores/chaldal/components/landingPage2/LandingPage/images/landingBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}